# Node modules
node_modules/

# Build artifacts
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.production

# Log files
*.log

# Temporary files
.DS_Store
*.tmp
*.temp

# IDE configurations
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
Thumbs.db
