:root {
  --background-image-url: url('https://indiantraveller-cms-staticfiles.s3.amazonaws.com/bookings/img/scene.495b069aa4a9.jpg');
}

body {
  font-family: Arial, sans-serif;
  background: var(--background-image-url) no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.booking-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to the top */
  height: 80vh; /* Full viewport height */
  padding-top: 50px; /* Add padding from the top */
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 15px; /* Rounded corners */
  padding: 20px;
  width: 60%; /* Full width of the container */
  max-width: 500px; /* Set a maximum width for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow for better visibility */
}

h2 {
  color: white; /* Header color */
  text-align: center;
  margin-bottom: 10px; /* Space between title and subtitle */
}

.form-label {
  color: white; /* Label color */
}

.btn-primary {
  background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent blue */
  border: none; /* Remove border */
  width: 100%;
}

.btn-primary:hover {
  background-color: rgba(0, 105, 217, 1); /* Darker blue on hover */
}

/* Ensure form elements don't exceed width */
.form-group {
  width: 100%; /* Full width for form groups */
}
