/* General styles for the Home component */
body {
  background-color: #f9f9f9; /* Light background color */
  font-family: 'Arial', sans-serif;
}

/* Container styling */
.container {
  margin-top: 10px;
}

/* Section Title */
.section-title {
  color: #343a40; /* Dark gray color */
  border-bottom: 2px solid #007bff; /* Accent color */
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 30px;
}

/* Card Styles */
.card {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff; /* Accent color */
}

.card-text {
  color: #555; /* Subtle text color */
  margin-bottom: 10px;
}

.card-text strong {
  color: #dc3545; /* Red for pricing */
}

/* Button Styles */
.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
/* 
/* Client Testimonials Section */
.client-testimonials {
  padding: 10px;
  background-color: #f8f9fa; /* Light gray background */
}

.client-testimonials .title-with-underline {
  color: #343a40; /* Dark color for the title */
  border-bottom: 2px solid #007bff; /* Accent underline */
  display: inline-block;
  padding-bottom: 5px;
}

/* Banner Styling */
#bannerIndicators {
  position: relative;
  max-height: auto; /* Adjust height as needed */
  overflow: hidden;
  margin-top: 7%;
}

#bannerIndicators img.banner-image {
  max-height: 500px; /* Ensure the image fits within the defined height */
  object-fit: cover; /* Cover ensures the image scales properly without distortion */
  width: 100%;
}

/* Inline Video Section */
.video-section {
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 10px;
}

.video-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.video-player {
  width: 100%;
  border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .section-title {
    font-size: 20px;
    margin-top: 20px;
  }

  .card img {
    height: 150px;
  }

  /* Banner Styling */
  #bannerIndicators {
    position: relative;
    max-height: auto; /* Adjust height as needed */
    overflow: hidden;
    margin-top: 40%;
  }
}
