/* General styles for the Home component */
body {
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

/* Container styling */
.container {
  margin-top: 10px;
}

/* Section Title */
.section-title {
  color: #343a40;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 30px;
}

/* Card Styles */
.card {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.card-text {
  color: #555;
  margin-bottom: 10px;
}

.card-text strong {
  color: #dc3545;
}

/* "Explore" Button */
.check-this-button {
  background-color: #6b6f82 !important;
  color: white !important;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px !important;
  transition: background-color 0.3s ease;
  border: none !important;
}

.check-this-button:hover {
  background-color: #122678 !important;
  color: white !important;
}

/* Call Now & Request Callback Buttons */
.call-now-btn,
.callback-btn {
  width: 100%; /* Takes full width inside Bootstrap column */
  font-size: 12.5px !important;
  border-radius: 5px;
}

/* Call Now Button */
.call-now-btn {
  background-color: #28a745 !important;
  border: none;
  color: white;
}

.call-now-btn:hover {
  background-color: #218838 !important;
}

/* Request Callback Button */
.callback-btn {
  text-align: left !important;
  background-color: #5a5079 !important;
  border: 1px solid #ccc;
  color: white !important;
}

.callback-btn:hover {
  background-color: #290f78 !important;
}

/* View All Button */
.btn-secondary {
  background-color: #56a12d;
  border: none;
  transition: background-color 0.3s ease;
  width: 20%;
}

.btn-secondary:hover {
  background-color: #56a12d;
}

.client-testimonials h3 {
  color: #343a40;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .section-title {
    font-size: 20px;
    margin-top: 20px;
  }

  .btn-secondary {
    width: 50%;
  }
}
