/* src/styles/Navbar.css */
.navbar-custom {
  background: linear-gradient(
    to right,
    #6a5acd,
    #8a2be2
  ); /* Gradient background */
}

.navbar {
  padding: 10px 0; /* Adjust navbar padding as needed */
}

.navbar-brand {
  color: white !important; /* Text color for link */
}

.navbar-brand img {
  margin-right: 10px; /* Space between logo and text */
}

.nav-link {
  color: white !important; /* Text color for links */
}

.nav-link:hover {
  color: #f0e68c !important; /* Color on hover */
}

.dropdown-menu {
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent dropdown background */
}

.dropdown-item {
  color: #000; /* Default color for dropdown items */
}

.dropdown-item:hover {
  background-color: #f0e68c; /* Hover color for dropdown items */
}

.fixed-top {
  z-index: 1030; /* Ensure navbar stays on top of other content */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Stack nav items vertically on smaller screens */
    width: 100%; /* Full width for nav items */
  }

  .nav-link {
    padding: 10px; /* Adjust padding for better spacing */
  }
}
