.trip-details {
  background-color: rgba(
    0,
    123,
    255,
    0.7
  ); /* Semi-transparent blue background */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding for the details section */
  margin: 15px 0; /* Space around the details section */
  color: white;
  text-align: center;
}
